#fullteam{
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
    scrollbar-width: none;  /* hide scrollbar Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#fullteam::-webkit-scrollbar {
    display: none;
}
#fototeam{
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    width: auto;
    height: 200px;
    margin-left: 10%;
}
#presentation{
    height: 250px;
    position: static;
    margin-bottom: 15px;
}
#colimg{
    border-right: solid;
}
#unal{
    padding-top: 80px;
}
#quote{
    padding-left: 200px;
}