#fullpage{
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
    scrollbar-width: none;  /* hide scrollbar Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#fullpage::-webkit-scrollbar {
    display: none;
}
.simple-hr{
    border-color: black;
    border-width: 1px;
}

#canvasCard{
    height: 500px;

}
